.movable-page {
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 192, 203, 0.5);
}

.movable-page .movable-area {
	width: 0;
	height: 100vh;
}

.movable-page .movable-view {
	width: 0;
	height: 0;
}

.movable-page .movable-view .movable-view__content {
	width: 100vw;
	height: 80vh;
	background-color: blue;
}

.map {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.header {
	position: fixed;
	width: 100vw;
	height: 200px;
	top: 0;
	left: 0;
	background-color: rgba(94, 17, 165);
}